.App {
  text-align: center;
  background-color: yellow;
}

.Header{
  background-color: rgb(115, 255, 0);
}

.Description{
  background-color: #8bffc5;
}

.Cards{
  display: flex;
  justify-content: space-evenly;
}

.Quote{
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 5fr;
}

.Card{
  display: grid;
  grid-template-rows: 5fr;
}

.Stage{
  display: grid;
  grid-template-rows: 5fr;
  border: 20px green;
}

.Count{
  padding: 10px;
}